html {
  background-image: url(xd.jpg);
}



.grid {
	background-color: deepskyblue;
	width: 800px;
	height: 800px;
	display: grid;
	border: 2px solid red;
	margin-right: auto;
	margin-left: auto;
	box-shadow: black 10px 10px 0 0;
}

.square {
	background-color: hsl(0, 0%, 100%);
}

#btn {
	width: 104px;
	height: 54px;
	font-size: 25px;
	border: 1px black solid;
}

#input {
	width: 75px;
	height: 50px;
	font-size: 25px;
	padding-left: 25px;
	border: 1px black solid;
}

.controls {
	margin: 30px;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.controls > p {
	width: auto;
	height: 40px;
	font-size: 25px;
	display: block;
	background-color: #FFF;
	margin: 0;
	color: black;
	padding: 12px 4px 0 4px;
	border: 1px black solid;
}

